# Cache crap that Valve autogenerates
*.bin
*.cfg

# Compiled formats
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c

# Commit panorama compiled textures
!game/dota_addons/sandbox/panorama/images/*.vtex_c
!game/dota_addons/sandbox/panorama/images/custom_game/*.vtex_c

# Map overviews
content/dota_addons/sandbox/materials/overviews/*.vmat
content/dota_addons/sandbox/materials/overviews/*.txt
game/dota_addons/sandbox/resource/overviews/*

#Github dump
*.stackdump

# maps/
node_modules/
*.pyc
*.vmap.txt
data/dire_basic_tools_no_wards.txt